<div class="body">

  <!-- decoration line -->
  <div class="line"></div>

  <!-- container principale -->
  <div class="container">
    <div class="divTitle">
      <h1 id="title">FOR A MORE CONSCIOUS CHOICE,
        <br>
        FOR
        <br>
        A MORE SUSTAINABLE FUTURE !
      </h1>

      <p class="text">Thanks to the ''GOCLIMATE'' API ("https://api.goclimate.com/docs"), we can always be informed
        about
        the impact of our air travel !</p>
      <p class="text">This platform allows you to calculate the amount of CO2 produced per passenger by air travel.</p>
    </div>

    <div class="divImgAirplane">
      <div class="img"></div>
    </div>

  </div>

  <!-- decoration line -->
  <div class="line"></div>

  <!-- dates -->
  <div class="dates">
    <div>
      <h1 class="dateTitle">Company that pollutes the most:</h1>
      <p class="underline"></p>
      <h2 class="date">AMERICAN AIRLINES:
        <br>
        79,41g di CO2/ASK
      </h2>
    </div>
    <div>
      <h1 class="dateTitle">Company that pollutes less:</h1>
      <p class="underline"></p>
      <h2 class="date">WIZZ AIR:
        <br>
        52,57g di CO2/ASK
      </h2>
    </div>
    <div>
      <h1 class="dateTitle">Company with older aircraft:</h1>
      <p class="underline"></p>
      <h2 class="date">BRITISH AIRWAYS:
        <br>
        Boeing 747-400s
      </h2>
    </div>
  </div>

  <!-- example-spacer -->
  <div class="example-spacer"></div>
  <div class="footer">
    <h3>Developed by GM (Giorgio Marian) 2024</h3>
    <h3>Profilo LinkedIn <a href="https://www.linkedin.com/in/giorgio-marian" target="_blank">qui!</a></h3>
  </div>

</div>
